<h1>Transformation Details</h1>

<p>
  <strong>Title:</strong>
  <%= @transformation.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @transformation.text %>
</p>

<%= link_to 'Edit', edit_transformation_path(@transformation) %> |
<%= link_to 'Back', transformations_path %>
